html {
    margin: 0;
    height: 100%;
}

* {
    font-family: 'Roboto';
}

.container {
    text-align: -webkit-center;
}

#imagemAdmin{
    display: block;
    height: auto;
}

/*LOGIN PAGE*/
body {
    background-image: url("../img/loginBackground.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    height: 100%;
}

@media screen and (min-width: 768px){
    #imagemAdmin {
        width: 15%;
        height: 15%;
    }
}

@media screen and (max-width: 767px){
    .maskBlack {
        height: auto;
    }
}

@media (min-width: 768px) and (max-width:991px){
    #imagemAdmin {
        width: 30%;
        height: 30%;
    }
}

.maskBlack {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, 0.6);
}

.redonda {
    border-radius: 1rem;
}

.fade {
    background-color: rgba(0, 0, 0, 0.6);
    height: 100vh;
}

/*NAVBAR*/
#navbar {
    height: 1% !important;
}


#logo,
#user {
    width: 15%;
    height: 15%;
}

#collapsibleNavbar {
    justify-content: right;
}

#dropdown {
    text-align: right;
}

/*INDEX PAGE*/
#header {
    padding-top: 10px;
    text-align: center;
    color: white;
}

.card-title {
    text-align: center;
    font-weight: bold;
}

.card-text {
    text-align: justify;
}

.btn-card {
    text-align: center !important;
    margin: 0 auto;
    display: flow !important;
}

/*admin PAGE*/

.navbar-nav>li {
    margin-right: 10px;
}

.logocircular {
    border-radius: 50%;
    border: 2px solid black;

}

.col-md-3 {
    text-align: -webkit-center;
}

.card {
    margin: 20px;
    width: 90%;
}

a.nav-link {
    color: white;
}

a.nav-link:hover {
    color: white;
    font-weight: bold;
    animation-timing-function: ease-out;
}

#backarrow {
    width: 5%;
    height: 11%;
}

.nav-item {
    padding-left: 10px;
    font-weight: bold;
}
