* {
    font-family: 'Roboto';
}

/*LOGIN PAGE*/
#intro {
    background-image: url("/img/loginBackground.jpg");
    height: 100vh;
}

/*NAVBAR*/
#navbar {
    height: 1% !important;
}

#logo, #user {
    width: 15%;
    height: 15%;
}

#collapsibleNavbar {
    justify-content: right;
}

#dropdown {
    text-align: right;
}

/*INDEX PAGE*/
#header {
    padding-top: 10px;
    text-align: center;
}